argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asgiref==3.9.1
black==23.1.0
certifi==2025.7.14
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
coreapi==2.3.3
coreschema==0.0.4
Django==4.1.7
django-autoslug==1.9.8
django-cors-headers==3.14.0
django-countries==7.5.1
django-environ==0.10.0
django-filter==22.1
django-phonenumber-field==7.0.2
django-taggit==3.1.0
djangorestframework==3.14.0
drf-yasg==1.21.5
flake8==6.0.0
idna==3.10
inflection==0.5.1
isort==5.12.0
itypes==1.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
mccabe==0.7.0
mypy_extensions==1.1.0
packaging==25.0
pathspec==0.12.1
phonenumbers==8.13.7
Pillow==9.4.0
platformdirs==4.3.8
psycopg2-binary==2.9.5
pycodestyle==2.10.0
pycparser==2.22
pyflakes==3.0.1
pytz==2022.7.1
requests==2.32.4
ruamel.yaml==0.18.14
ruamel.yaml.clib==0.2.12
sqlparse==0.5.3
tomli==2.2.1
typing_extensions==4.14.1
uritemplate==4.2.0
urllib3==2.5.0
